{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(formEmployer)}}

{{ form_row(formEmployer.matricule)}}
{{ form_row(formEmployer.nom)}}
{{ form_row(formEmployer.libelle)}}
{{ form_row(formEmployer.libelle)}}
<button type="submit">AJOUTER</button>
{{ form_end(formEmployer)}}
{% endblock %}
