{% extends 'base.html.twig' %}
{% form_theme formEmployer 'bootstrap_4_layout.html.twig' %}

<h1>AJOUT D'UN EMPLOYE</h1>

{{ form_start(formEmployer)}}

{{ form_row(formEmployer.matricule)}}
{{ form_row(formEmployer.nomComplet)}}
{{ form_row(formEmployer.datenaissance)}}
{{ form_row(formEmployer.salaire)}}
{{ form_row(formEmployer.service)}}
<button type="submit">AJOUTER</button>
{{ form_end(formEmployer)}}
{% endblock %}
